*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: #303030;
}

a:hover{
    color: #B5E61D;
    transition: .5s;    
}

h1{
    font-size: 14vh;
    font-weight: bold;
}

h2{
    color: #B5E61D;
    font-size: 6vh;
}

h3{
    font-size: 3vh;
    font-weight: 400;
}

/* DARKMODE CONTAINER */
.container-off{
    background-color: #262626;
    color: white;
}

.container-off a{
    color: white;
}

.container-off a:hover{
    color: #B5E61D;
    transition: .5s;    
}

.container-off header{
    background-color: #262626;
}

/* CABEÇALHO */
header{
    position: fixed;
    top: 0;
    background-color: #fff;
    width: 100%;
    border-bottom: #B5E61D 1px solid;
    animation: top_to_bottom .7s .2s backwards;
    z-index: 1;
}

.main-menu{
    margin-top: 5px;
    display: flex;
}

.main-logo img{
    height: 32px;
    width: auto;
    margin: 1vh 0 1vh 2vw;
    padding: 6px; 
    border-radius: 50%;
    transition: .5s;
}

.on{
    background-color: #262626; 
}

.off{
    background-color: #B5E61D; 
}

.main-logo img:hover{
    cursor: pointer;
}

.main-options{
    display: flex;
    align-items: center;
    width: 90%;
    justify-content: space-evenly;
}

#main-options-menu{
    list-style: none;
    display: flex;
    gap: 10vw;
}

#main-options-menu > li{
    display: inline-block;
    text-decoration: none;
}

.menu-link{
    transition: all ease 0.2s;
    text-decoration: none;
}

.menu-linkOff{
    transition: all ease 0.2s;
    text-decoration: none;
    color:white
}

.main-options-hamburguer{
    display: none;
    height: 100%;
}

.hamburguer{
    background-color: #B5E61D;
    height: 5px;
    border-radius: 20px;
    width: 40px;
}

/* CONTAINER:GERAL MAIN*/
.container-main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* PRIMEIRA SEÇÃO */
.body-welcome{
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    width: 96%;
    min-height: 100vh;
}

.welcome-text{
    width: 50%;
    min-width: 450px;
}

.welcome-text p{
    font-size: 22px;
}

.button-to-presentation{
    height: 60px;
    width: 220px;
    font-size: 24px;
    border: 2px solid #B5E61D;
    border-radius: 12px;
    background:#B5E61D;
    margin-top: 4vh;
}

.button-to-presentation:hover{
    background-color: transparent;
    color: #B5E61D;
    cursor: pointer;
}

.welcome-photo img{
    width: 290px;
    height: auto;
    border-radius: 50%;
    animation: float 6s ease-in-out infinite;
}

/* SEGUNDA SEÇÃO */
.body-presentation{
    padding: 8vh 0 8vh 0;
    display: flex;
    width: 96%;
    align-items: center;
    justify-content: center;
    background-color: #D8FB50;
    flex-wrap: wrap;
}

.presentation-about{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 50%;
    min-width: 350px;
    padding: 10vh 0 0 4vw;
    color: #303030;
}

.presentation-about h2{
    color: #303030;
    font-size: 8vh;
}

.presentation-about h3{
    margin-bottom: 4vh;
}

.presentation-about p{
    margin-bottom: 4vh;
}

.presentation-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.presentation-photo img{
    min-width: 320px;
    width: 56%;
    height: auto;
    border: 8px solid white;
    box-shadow: 6px 6px 1px #B5E61D;
    border-radius: 8px;
}

/* TERCEIRA SEÇÃO */
.body-portfolio, .body-experience{
    display: flex;
    flex-direction: column;
    min-height: 80vh;
    width: 96%;
    margin-top: 40px;
}

.skills-logo, .main-projects-logo, .experience-logo{
    padding-left: 70px;
    margin-bottom: 30px;
}

.skills-menu, .main-projects-options{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vw;
    flex-wrap: wrap;
}

/* TERCEIRA SEÇÃO: EXPERIENCIA > HABILIDADES*/
.box-skills{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.box-skills h3{
    font-weight: bold;
    font-size: 24px;
}

.skills-info{
    margin: 4vh 0 4vh 0;
    width: 50%;
    min-width: 350px;
}

.skill p{
    margin-bottom: 1vh;
}

.bar-progress{
    height: 4px;
    width: 100%;
    background: #303030;
    margin-bottom: 2vh;
}

.bar-progress-HTML{
    width: 90%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-CSS{
    width: 90%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-JavaScript{
    width: 80%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-BootStrap{
    width: 70%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-AppScript{
    width: 80%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-TypeScript{
    width: 70%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-HubSpotCMS{
    width: 70%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-WordPress{
    width: 60%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-ReactJs{
    width: 80%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-NextJs{
    width: 60%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-MongoDB{
    width: 60%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-SQLite{
    width: 70%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-Jest{
    width: 50%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-Java{
    width: 40%;
    height: 100%;
    background: #B5E61D;
}

.bar-progress-Kotlin{
    width: 40%;
    height: 100%;
    background: #B5E61D;
}

/* TERCEIRA SEÇÃO: EXPERIENCIA > EXPERIENCIA PROFISSIONAL*/
.body-experience{
    height: auto; 
}

.box-experience{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.subtitle-experience{
    margin-bottom: 4vh;
}

.experience-info{
    width: 50%;
    min-width: 350px;
    margin-bottom: 8vh;
}

.experience-info h3{
    font-weight: bold;
}

.experience-info h3 span{
    color: #B5E61D;
}

.experience-info p span{
    color: #7d7f74;
}

/* QUARTA SEÇÃO: PORTFÓLIO */
.portfolio-main-projects{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.card_project{
    width: 380px;
    height: 260px;
    box-shadow: 4px 4px 1px #B5E61D;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;   
    border: 1px solid #ccc; 
    cursor: pointer;
    transition: .3s;
}

.card_project:hover{
    transform: scale(1.1);
}

.card_project_img{
    width: 100%;
    text-align: center;
}

.card_project_img img{
    width: 96%;
    border-radius: 8px;
    max-height: 176px;
}

.card_project_about{
    width: 100%;
    padding-left: 2vw;
}

.card_project_about h3{
    font-weight: bold;
}

.card_project_about p{
    color: #7d7f74;
}

.portfolio-more{
    width: 100%;
    font-size: 20px;
    text-align: center;
    margin: 8vh 0 8vh 0;
}

/* RODAPÉ  */
.footer-menu{
    background-color: #262626;
    padding: 8vh 0 8vh 0;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap:wrap-reverse;
}

.footer-text{
    color: white;
}

.footer-text h3{
    color: white;
}

.footer-img{
    height: 30vh;
    width: auto;
    margin-left: 5vw;
    margin-right: 3vw;
}

.icon-social-media{
    margin-right: 2vw;
    height: 36px;
    width: auto;
    transition: transform .3s;
}

.icon-social-media:hover{
    transform: scale(1.2);
}

.footer-contacts{
    height: 8vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.footer-contacts span a{
    color: #fff;
    font-weight: bolder;
}

@media screen and (min-device-width: 500px) and (max-device-width: 800px){

    .main-options{
        justify-content: flex-end;
        padding-right: 4vw;
    }

    #main-options-menu{
        position:absolute;
        top: 90px;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        width: 100%;
        background: #D8FB50;
        border-bottom: #B5E61D solid 2px;
        transition: .1s;
    }

    #main-options-menu.visible{
        left: 0;
        gap: 0;
    }

    #main-options-menu > li{
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
    }

    .menu-link{
        font-size: 16px;
    }

    .main-logo{
        margin-right: 26vw;
    }

    .main-options-hamburguer{
        display: block;
        height: 20px;        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .body-welcome{
        margin-top: 100px;
        flex-direction: column-reverse;
        margin-bottom: 20px;
    }

    .welcome-text{
        justify-content: center;
        margin-top: 10px;
    }

    .welcome-text p{
        font-size: 20px;
    }

    .body-presentation{
        flex-direction: row-reverse;
        height: 200vh;
    }

    .presentation-about{
        min-width: 500px;
    }

    .presentation-photo{
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 60vw;
    }
    
    .presentation-photo img{
        width: 80vw;
        min-width: 320px;
    }
    
}

@media screen and (max-device-width: 500px){

    .main-options{
        justify-content: flex-end;
        padding-right: 4vw;
    }

    h1{
        font-size: 10vh; 
    }

    #main-options-menu{
        position:absolute;
        top: 50px;
        left: -100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 0;
        width: 100%;
        background: #B5E61D;
        border-bottom: #B5E61D solid 2px;
        transition: .1s;
    }

    #main-options-menu.visible{
        left: 0;
        gap: 0;
    }

    #main-options-menu > li{
        padding: 10px 0;
        font-size: 20px;
        font-weight: bold;
    }

    .menu-link{
        font-size: 16px;
    }

    /* .main-logo{
        margin-right: 80vw;
    } */

    .main-options-hamburguer{
        display: block;
        height: 20px;        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .body-welcome{
        margin-top: 100px;
        flex-direction: column-reverse;
        margin-bottom: 20px;
        width: 96%;  
    }

    .welcome-text{
        display: flex;
        justify-content: center;
        margin-top: 10px;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }

    .welcome-text p{
        font-size: 16px;
    }

    .welcome-text span{
        height: 70px;
        width: 200px;
        font-size: 24px;
        align-items: center;
        justify-content: center;     
    }

    .body-presentation{
        flex-direction: column;
    }

    .presentation-about{
        min-width: 360px;
    }

    .presentation-photo{
        padding-top: 2vh;
        padding-bottom: 2vh;
        width: 60vw;
    }
    
    .presentation-photo img{
        width: 80vw;
        min-width: 320px;
    }

    .footer{
        width: 96%;
    }

    .footer-text h2{
        font-size: 6vh;
    }

    .footer-text h3{
        font-size: 2vh;
    }

    .footer-contacts{
        flex-direction: column;
    }

    .footer-contacts span{
        margin-bottom: 4px;
    }
    
}

@keyframes float {

    0%{
        transform: translateY(0);
    }

    50%{
        transform: translateY(-20px);
    }

    100%{
        transform: translateY(0);
    }  
}

@keyframes top_to_bottom {

    0%{
        transform: translateY(-60px);
    }

    100%{
        transform: translateY(0);
    }
    
}